<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "BE/login.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>LOG IN </title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid" >
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
   
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="{% url 'signup' %}"> <button id="sign-btn" type="button" class="btn" ><span class="glyphicon glyphicon-user"></span> Sign Up</button></a></li>
        <!--<li><a href="{% url 'login' %}"><button id="login-btn" type="button" class="btn" ><span class="glyphicon glyphicon-log-in"></span> Login</button></a></li>-->
    </ul>
  </div>
</nav>

<h2 style="text-align:center;margin-top:80px;">Login</h2>
<div class="login">
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
</div>
							<!--Footer Start-->
<div class="footercontainer">
	<div class="footer">
		<table>
		<tr>		
		<td>Telephone</td>
		<td>Address</td>
		<td>Email</td>
		</tr>
		<tr></tr>
		</table>
	</div>
</div>
							<!--Footer End-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://arrow.scrolltotop.com/arrow86.js"></script>
<noscript>Not seeing a <a href="http://www.scrolltotop.com/">Scroll to Top Button</a></noscript>

<div class="Copyright">
	<p style="text-align:center;margin-top:5px;padding-top:5px;font-size:11px;line-height:21px;">.&copy; 2018 .Designed by . Powered by<p>
</div>
	
</body>
</html>
